.calendarWrapper {
  position: relative;
  padding: 16px 8px;
  background: #FFF;
}

.title {
  margin-bottom: 10px;
  color: var(--alt-text);
  font: 700 0.9375rem / 1.4667 var(--main-font);
}

.add {
  position: absolute;
  top: 16px;
  right: 8px;
  width: 16px;
  height: 16px;
  background: url("../../../assets/plus.svg") center / contain no-repeat;
}

.calendarBlock {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modalWrapper {
  position: relative;
}