.checkboxWrapper {
  display: flex;
  align-items: center;
  gap: 8px;

  .checkbox {
    position:absolute;
    opacity:0;
    cursor: auto;
    pointer-events: none;

    &:focus + .icon {
      border: 1px solid var(--main);
      border-radius: calc(var(--rounded) / 4);
    }
  }

  .label {
    color: var(--alt-text);
    font: 400 0.9375rem / 1.8333 var(--main-font);
  }

  .icon {
    width: 16px;
    height: 16px;
    border: 1px solid transparent;
    cursor: pointer;

    &.true {
      filter: var(--main-icon);
    }

    &.false {
      filter: var(--alt-text-icon);
    }
  }
}
