.prevMonth, .nextMonth, .currentMonth {
  width: 26px;
  height: 26px;
  margin: 0 auto;
  border-radius: var(--rounded);
  cursor: pointer;
}
.prevMonth, .nextMonth {
  opacity: 0.2;
}

.currentMonth {
  &.currentDate {
    color: var(--main-text);
    background-color: var(--main);
  }
  &.selectedDate {
    color: var(--main-text);
    background: var(--main-box-shadow);
  }
}

.calendarWrapper {
  position: relative;
  width: max-content;
  padding: 16px 8px;
  background: var(--alt);
  border-radius: var(--rounded);
  box-shadow: 0px 4px 4px 0px #0000001A;
}

.controlBlock {
  position: absolute;
  top: 16px;
  right: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.controlItem {
  padding: 0;
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  
  .icon {
    width: 16px;
    height: 16px;
    filter: var(--alt-text-icon);
  }
}

.calendar {
  color: var(--alt-text);
  text-align: center;
}

.title {
  font: 700 0.9375rem / 1.4667 var(--main-font);
  text-align: left;
  padding-bottom: 20px;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.daysOfWeek, .week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

.daysOfWeek {
  margin-bottom: 10px;

  span {
    font: 700 0.75rem / 1.833 var(--main-font);
  }
}