@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
@import url(https://fonts.googleapis.com/css?family=Inter:400,700);

/*
  https://isotropic.co/tool/hex-color-to-css-filter/
*/

:root {
  --main-font: "Inter", "Segoe UI", Helvetica, Arial, sans-serif;
  --alt-font: "Roboto", "Segoe UI", Helvetica, Arial, sans-serif;

  --main: #00AE1C;
  --main-disabled: #187727;
  --main-light: #0CD52B;
  --main-lightest: #5CE171;
  --main-text: #FFFFFF;
  --main-text-disabled: #B9B9B9;
  --main-box-shadow: var(--main-lightest, 0.25);

  --main-icon: invert(36%) sepia(100%) saturate(1287%) hue-rotate(107deg) brightness(96%) contrast(106%);
  --main-text-icon: invert(100%) sepia(0%) saturate(7490%) hue-rotate(205deg) brightness(100%) contrast(101%);
  --main-text-icon-disabled: invert(88%) sepia(0%) saturate(0%) hue-rotate(188deg) brightness(87%) contrast(84%);

  --alt: #FFFFFF;
  --alt-disabled: #C8C8C8;
  --alt-light: #EFEFEF;
  --alt-lightest: #E0E0E0;
  --alt-border: #DEDFE5;
  --alt-border-disabled: #8D8E91;
  --alt-text: #323749;
  --alt-text-disabled: #737373;
  --alt-box-shadow: #45454540;
  
  --alt-text-icon: invert(16%) sepia(6%) saturate(3125%) hue-rotate(190deg) brightness(100%) contrast(83%);
  --alt-text-icon-disabled: invert(44%) sepia(2%) saturate(25%) hue-rotate(26deg) brightness(101%) contrast(90%);

  --link-disabled: #575D58;
  --error: #FF5620;

  --rounded: 8px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, p,
ul, ol[class], li, dl, dd,
figure, figcaption, blockquote {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul, ol[class] {
  padding: 0;
  list-style: none;
}

input, button, textarea, select {
  font: inherit;
}

button {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

body {
  background-color: #F2F5F7;
}

main {
  position: relative;
  display: flex;
  gap: 30px;
  width: 100dvw;
  height: calc(100dvh - 112px);
  padding: 0 60px;
}

@media screen and (max-width:1280px) {
  main {
    padding: 0 20px;
    height: calc(100dvh - 72px);
  }
}